/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Asterisk wildcard selector to override default styles added by web browser */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Style rules */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #FFFAE0;
}

h2,h3{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #FFFAE0;
  background-color: #8c39266c;
}
/* General project styles */

/* Header */

header {
  background-color: #400808;
  color: whitesmoke;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 1px 1px white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
  color:#FFFAE0;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid white;
}

/* Nav bar styles with drop down toggle */

nav {
  position: absolute;
  background-color: #400808;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px black;
  display: none;
  top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main Content */

main {
  background-color: #FFFAE0;
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px;
}

#intro {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px;
  margin: 20px 10px 20px 10px;
}

.phil {
  max-width: 100%;
  max-height: 500px;
  border: solid 3px #8C3926;
  border-radius: 10px;
}

#middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px;
  margin: 20px 10px 20px 10px;
}

#end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px;
  margin: 20px 10px 20px 10px;
}

p {
  font-family: "Merriweather", sans-serif;
  letter-spacing: 1.5px;
  margin-left: 25px;
  margin-right: 25px;
  color:#400808;
  padding-top: 20px;
}

/* Hero Image */

#hero {
  height: 600px;
  width: 100%;
  background: url("https://raw.githubusercontent.com/JasonHorgan/Project-1/main/assets/images/phil_hero.webp") no-repeat center center/cover;
}

#hero-text {
  color: #FFFAE0;
  font-size: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 250px;
}

.hero-text h2 {
  font-size: 5em;
  text-shadow: 3px 3px black;
}

/* Gallery CSS */

#gallery img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

/* Videos page */

#videos {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 12px;
  
}

.videos-iframe {
  margin-top:20px;
}

/* Submit page styles */

#story {
  padding: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

h4 {
  font-family: "Merriweather", sans-serif;
  color: #3a3a3a;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#submit_image{
  width:100%;
  padding-top: 20px;
}

/* Footer */

#social-networks {
  background-color: #FFFAE0;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #8C3926;
}

/* 404 styling */

#error_title{
  font-family: "Merriweather", sans-serif;
  letter-spacing: 1.5px;
  margin-left: 25px;
  margin-right: 25px;
  color: #400808;
  padding-top: 50px;
  text-align: center;
}





/* Media query tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #middle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #bw {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }


/* Hero */

#hero-text {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h2 {
  font-size: 5.5em;
  text-shadow: 4px 4px #3a3a3a;
}

.hero-text h3 {
  font-size: 1.5em;
  text-shadow: 2px 2px #3a3a3a;
}

/* Gallery */

#photos {
  display: flex;
  flex-direction: column;
}

#videos {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding:100px 25px;
}

.videos-iframe {
  aspect-ratio: 16/9;
}

/* submit page */

#story{
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

#submit_image{
max-width: 50%;
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 120px;
}

#error_title{
  padding-top:300px;
}
}
/* Large devices (laptops and desktops 992px and up) */

@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #FFFAE0;
  }

  /* Main Content */

  #intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #middle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .phil {
    max-width: 50%;
    height: 450px;
    width:590px
  }

  #end {
    display: flex;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-direction: column-reverse;
    align-items: center;
  }

  #bw {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.5px;
    margin: 20px 10px 20px 10px;
    flex-wrap: nowrap;
    align-items: center;
  }

  /* Gallery */

  #photos {
    display: flex;
    flex-direction: column;
    margin: 100px;

  }

  /* Video page */

  #videos {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
  }

  .videos-iframe {
    aspect-ratio: 16/9;
    height: 250px;
    width: 400px;
    border-radius: 10px;
  }

  /* submit page */

#story{
  padding: 30px 50px;
}

#submit_image{
  max-width: 50%;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

}

/* Media Queries for XL screens */

@media screen and (min-width: 1800px) {
  #menu a:hover {
    border-bottom: 1px solid #FFFAE0;
  }

    /* Video page */

    #videos {
      display: flex;
      flex-direction: row;
      height: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap:30px;
    }
  
    .videos-iframe {
      aspect-ratio: 16/9;
      height: 400px;
      width: 600px;
      border-radius: 10px;
    }

    #submit_image{
      max-width: 50%;
      align-items: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 25px;
      height: 650px;
    }

}