/* Header */

header{
    background-color: #003049;
    color: whitesmoke;
}

/* Main Content */

main{
    background-color: #FDF0D5;
}

/* Footer */

footer{
    background-color: #780000;
    color: whitesmoke;
}